# This file contains common pin mappings for Smoothieboard. To use
# this config, the firmware should be compiled for the LPC176x.

# The "make flash" command does not work on the Smoothieboard.
# Instead, after running "make", copy the generated "out/klipper.bin"
# file to a file named "firmware.bin" on an SD card and then restart
# the Smoothieboard with that SD card.

# See the example.cfg file for a description of available parameters.
# step_distance: .0025


[stepper_a]
step_pin: P2.0
dir_pin: P0.5
enable_pin: !P0.4
step_distance: 0.0015625
endstop_pin: ^P1.25
homing_speed: 60
position_endstop: 33
arm_length: 229.4
#position_max: 200
#step_distance: .002

[stepper_b]
step_pin: P2.1
dir_pin: P0.11
enable_pin: !P0.10
step_distance: 0.0015625
endstop_pin: ^P1.29

[stepper_c]
step_pin: P2.2
dir_pin: P0.20
enable_pin: !P0.19
step_distance: 0.0015625
endstop_pin: ^P1.27

[extruder]
step_pin: P2.3
dir_pin: P0.22
enable_pin: !P0.21
step_distance: 0.010989
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: P2.7
sensor_type: ATC Semitec 104GT-2
# EPCOS 100K B57560G104F
sensor_pin: P0.24
#control: pid
#pid_Kp: 25.349
#pid_Ki: 1.216
#pid_Kd: 132.130
min_extrude_temp: 150
min_temp: 0
max_temp: 275

#[extruder1]
#step_pin: P2.8
#dir_pin: P2.13
#enable_pin: !P4.29
#heater_pin: P2.6
#sensor_pin: P0.25
#...

[heater_bed]
heater_pin: P1.22
sensor_type: Honeywell 100K 135-104LAG-J01
sensor_pin: P0.23
#control: watermark
min_temp: 0
max_temp: 80

# [fan]
# hard wired since no more pin available

[heater_fan extruder_cooler_fan]
pin: P2.4

[mcu]
serial: /dev/serial/by-id/usb-Klipper_Klipper_firmware_12345-if00
restart_method: command

[printer]
kinematics: delta
max_velocity: 500
max_accel: 3000
max_z_velocity: 150
delta_radius: 99.8
minimum_z_position:-300

[static_digital_output leds]
pins: P1.18, P1.19, P1.20, P1.21, P4.28



# The delta_calibrate section enables a DELTA_CALIBRATE extended
# g-code command that can calibrate the tower endstop positions and
# angles.
[delta_calibrate]
radius: 50
#   Radius (in mm) of the area that may be probed. This is the radius
#   of nozzle coordinates to be probed; if using an automatic probe
#   with an XY offset then choose a radius small enough so that the
#   probe always fits over the bed. This parameter must be provided.
speed: 100
#   The speed (in mm/s) of non-probing moves during the calibration.
#   The default is 50.
horizontal_move_z: 30
#   The height (in mm) that the head should be commanded to move to
#   just prior to starting a probe operation. The default is 5.
samples: 6
#   The number of times to probe each point.  The probed z-values will
#   be averaged. The default is to probe 1 time.
#sample_retract_dist: 2.0
#   The distance (in mm) to retract between each sample if sampling
#   more than once. The default is 2mm.

# [mcp4451 stepper_digipot1]
# i2c_address: 88
# # Scale the config so that wiper values can be specified in amps.
# scale: 2.25
# # wiper 0 is X (aka alpha), 1 is Y, 2 is Z, 3 is E0
# wiper_0: 1.1
# wiper_1: 1.1
# wiper_2: 1.1
# wiper_3: 1.0

#[mcp4451 stepper_digipot2]
#i2c_address: 90
#scale: 2.25
# wiper 0 is E1
#wiper_0: 1.6

# "RepRapDiscount 128x64 Full Graphic Smart Controller" type displays
#[display]
#lcd_type: st7920
#cs_pin: P0.16
#sclk_pin: P0.15
#sid_pin: P0.18
#encoder_pins: ^P3.25, ^P3.26
#click_pin: ^!P1.30
# This file contains the configuration for the Anycubic Kossel delta
# printer from 2016. The printer uses the TriGorilla board which is an
# AVR ATmega2560 Arduino + RAMPS compatible board. To use this config,
# the firmware should be compiled for the AVR atmega2560.

# See the example.cfg file for a description of available parameters.


# Z height probe. One may define this section to enable Z height
# probing hardware. When this section is enabled, PROBE and
# QUERY_PROBE extended g-code commands become available. The probe
# section also creates a virtual "probe:z_virtual_endstop" pin. One
# may set the stepper_z endstop_pin to this virtual pin on cartesian
# style printers that use the probe in place of a z endstop. If using
# "probe:z_virtual_endstop" then do not define a position_endstop in
# the stepper_z config section.
[probe]
pin: ^P1.24
#   Probe detection pin. This parameter must be provided.
#x_offset: 0.0
#   The distance (in mm) between the probe and the nozzle along the
#   x-axis. The default is 0.
#y_offset: 0.0
#   The distance (in mm) between the probe and the nozzle along the
#   y-axis. The default is 0.
z_offset: 26.565
#   The distance (in mm) between the bed and the nozzle when the probe
#   triggers. This parameter must be provided.
speed: 10.0
#   Speed (in mm/s) of the Z axis when probing. The default is 5mm/s.
#activate_gcode:
#   A list of G-Code commands (one per line; subsequent lines
#   indented) to execute prior to each probe attempt. This may be
#   useful if the probe needs to be activated in some way. Do not
#   issue any commands here that move the toolhead (eg, G1). The
#   default is to not run any special G-Code commands on activation.
#deactivate_gcode:
#   A list of G-Code commands (one per line; subsequent lines
#   indented) to execute after each probe attempt completes. Do not
#   issue any commands here that move the toolhead. The default is to
#   not run any special G-Code commands on deactivation.

# "RepRapDiscount 2004 Smart Controller" type displays
#[display]
#lcd_type: hd44780
#rs_pin: ar16
#e_pin: ar17
#d4_pin: ar23
#d5_pin: ar25
#d6_pin: ar27
#d7_pin: ar29
#encoder_pins: ^ar31, ^ar33
#click_pin: ^!ar35
#kill_pin: ^!ar41

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 27.057
#*# pid_ki = 1.336
#*# pid_kd = 136.978
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 51.944
#*# pid_ki = 1.317
#*# pid_kd = 512.302
